.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow:hidden;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 50%;
}

input{
  width: 100%;
  padding: 1rem 0.5rem 1rem 0.5rem;
}

textarea {
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 0 transparent;
  width: 100%;
  border: 0;
  border-radius: 0;
  background-color: #f3f7f7;
  color: #0e141e;
  min-height: 72px;
  outline: none;
  font-size: 14px;
  padding: 12px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.1s ease-in-out;
}

button{
  width: 100%;
  background: rgb(0, 174, 255);
}